<ion-header class="header">
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Informe seus dados para continuar</ion-label>
  <ion-button >Login com Facebook</ion-button>
  <ion-button color="google">Login com Google </ion-button>
  <ion-item-divider>
      <ion-label>
        Ou acesse com E-mail
      </ion-label>
    </ion-item-divider>
  <ion-item>
      <ion-input  placeholder="E-mail" type="text" ></ion-input>
  </ion-item>
  <ion-item>
      <ion-input placeholder="senha" place-type="password"></ion-input>
  </ion-item>

  <ion-button color="favorite">Login</ion-button><br>
  <a class="cadastro" href="#">Cadastrar-se</a>
</ion-content>